<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- escuchamos el evento newItemEvent y enviamos el argumento recibido hacía el evento addNewCity -->
      <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" [className]="'btn-info'"></app-form-new-item>
    </div>
    <div class="col-md-8">
      <ul>
        <app-cities *ngFor="let city of cities" (cityClickedEvent)="onCityClicked($event)" [city]="city" [selection]="selection"></app-cities>
      </ul>
    </div>
    <div class="col-md-4">
      <div *ngIf="selection">
        your city is: {{ selection }}
        <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear your selection'" [selection]="selection"></app-button>
      </div>
    </div>
  </div>
</div>