<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- escuchamos el evento newItemEvent y enviamos el argumento recibido hacía el evento addNewCity -->
      <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" [className]="'btn-info'"></app-form-new-item>
    </div>
    <div class="col-md-8">
      <!--
        <p *ngIf="name">El nombre es: {{ name }}</p>
        <input type="text" [(ngModel)]="name">
      -->

      <ul *ngFor="let city of cities">
        <li (click)="onCityClicked(city)" [ngClass]="{ 'alert alert-info': city === selection }">{{ city }}</li>
        <!--<li [ngClass]="{ 'color': 'white', 'background-color': city === 'madrid' ? 'blue' : 'green' }">{{ city }}</li>-->
        <!--<li [ngStyle]="{ 'color': 'white', 'background-color': city === 'madrid' ? 'blue' : 'green' }">{{ city }}</li>-->
        <!--<li [ngClass]="{ 'selected': city === 'Colombia','blue': city !== 'Lima' }">{{ city }}</li>-->
      </ul>
    </div>
    <div class="col-md-4">
      <div *ngIf="selection">
        your city is: {{ selection }}
        <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear your selection'" [selection]="selection"></app-button>
      </div>
    </div>
  </div>
</div>